In [1]:
import pandas as pd
import numpy as np

#### 1)	Load in the appropriate csv file as a pandas dataframe (batting.csv)

In [2]:
df = pd.read_csv('Batting.csv')

#### 2)	Print out the dimensions and info about the dataframe you just created

In [3]:
df.ndim

2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102816 entries, 0 to 102815
Data columns (total 25 columns):
playerID     102816 non-null object
nameFirst    102816 non-null object
nameLast     102816 non-null object
birthYear    102816 non-null int64
yearID       102816 non-null int64
stint        102816 non-null int64
teamID       102816 non-null object
lgID         102079 non-null object
G            102816 non-null int64
AB           102816 non-null int64
R            102816 non-null int64
Hit          102816 non-null int64
2B           102816 non-null int64
3B           102816 non-null int64
HR           102816 non-null int64
RBI          102392 non-null float64
SB           101516 non-null float64
CS           79360 non-null float64
BB           102816 non-null int64
SO           94978 non-null float64
IBB          66251 non-null float64
HBP          100006 non-null float64
SH           96478 non-null float64
SF           66782 non-null float64
GIDP         76706 non-null float64
dtypes: float64(9), int64(11), object(5)
memory usage: 19.6+ MB

In [5]:
df.head()

,playerID,nameFirst,nameLast,birthYear,yearID,stint,teamID,lgID,G,AB,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,Frank,Abercrombie,1850,1871,1,TRO,NaN,1,4,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,Bob,Addy,1842,1871,1,RC1,NaN,25,118,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,NaN
2,allisar01,Art,Allison,1849,1871,1,CL1,NaN,29,137,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,NaN
3,allisdo01,Doug,Allison,1846,1871,1,WS3,NaN,27,133,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,NaN
4,ansonca01,Cap,Anson,1852,1871,1,RC1,NaN,25,120,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,NaN

#### 3)	How many players have hit 40 or more HRs in one single season(year)? (Number only)

In [6]:
temp = df.groupby(['yearID','playerID']).sum()
temp = temp[temp['HR']>=40]
# Work under Windows
# temp = temp.groupby(['playerID']).sum()
# temp.shape[0]   

# Work under Mac & Windows
temp = temp.reset_index('playerID')
temp = temp['playerID'].unique()
len(temp)

142

#### 4)	How many players have hit more than 600 HRs for their career? (Dataframe)

In [7]:
temp = df.groupby(['playerID','nameFirst','nameLast']).sum()
temp[temp['HR']>600]

,,,birthYear,yearID,stint,G,AB,R,Hit,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
playerID,nameFirst,nameLast,,,,,,,,,,,,,,,,,,,,
aaronha01,Hank,Aaron,44482,45195,23,3298,12364,2174,3771,624,98,755,2297.0,240.0,73.0,1402,1383.0,293.0,32.0,21.0,121.0,328.0
bondsba01,Barry,Bonds,43208,43923,22,2986,9847,2227,2935,601,77,762,1996.0,514.0,141.0,2558,1539.0,688.0,106.0,4.0,91.0,165.0
griffke02,Ken,Griffey,45287,45997,24,2671,9801,1662,2781,524,38,630,1836.0,184.0,69.0,1312,1779.0,246.0,81.0,8.0,102.0,199.0
mayswi01,Willie,Mays,44413,45145,24,2992,10881,2062,3283,523,140,660,1903.0,338.0,103.0,1464,1526.0,192.0,44.0,13.0,91.0,251.0
rodrial01,Alex,Rodriguez,43450,44101,22,2784,10566,2021,3115,548,31,696,2086.0,329.0,76.0,1338,2287.0,97.0,176.0,16.0,111.0,261.0
ruthba01,Babe,Ruth,41690,42339,22,2503,8398,2174,2873,506,136,714,2217.0,123.0,117.0,2062,1330.0,NaN,43.0,113.0,NaN,2.0
sosasa01,Sammy,Sosa,37392,37945,20,2354,8813,1475,2408,379,45,609,1667.0,234.0,107.0,929,2306.0,154.0,59.0,17.0,78.0,202.0
thomeji01,Jim,Thome,49250,50065,28,2543,8422,1583,2328,451,26,612,1699.0,19.0,20.0,1747,2548.0,173.0,69.0,1.0,74.0,165.0

#### 5)	How many players have hit 40 2Bs, 10 3Bs, 200 Hits, and 30 HRs (inclusive) in one season? (Number Only) (above)

In [8]:
temp = df.groupby(['yearID','playerID']).sum()
temp = temp[(temp['2B']>=40) & (temp['3B']>=10) & (temp['Hit']>=200) & (temp['HR']>=30)]
temp = temp.reset_index('playerID')
temp = temp['playerID'].unique()
len(temp)

11

#### 6)	How many players have had 100 or more SBs in a season? (Dataframe)

In [9]:
temp = df.groupby(['playerID','nameFirst','nameLast','yearID']).sum()
temp = temp[temp['SB']>=100]
temp
#####################

                                      birthYear  stint    G   AB    R  Hit  \
playerID  nameFirst nameLast  yearID
brocklo01 Lou       Brock     1974         1939      1  153  635  105  194
brownpe01 Pete      Browning  1887         1861      1  134  547  137  220
brownto01 Tom       Brown     1891         1860      1  137  589  177  189
colemvi01 Vince     Coleman   1985         1961      1  151  636  107  170
                              1986         1961      1  154  600   94  139
                              1987         1961      1  151  623  121  180
comisch01 Charlie   Comiskey  1887         1859      1  125  538  139  180
fogarji01 Jim       Fogarty   1887         1864      1  126  495  113  129
hamilbi01 Billy     Hamilton  1889         1866      1  137  534  144  161
                              1890         1866      1  123  496  133  161
                              1891         1866      1  133  527  141  179
henderi01 Rickey    Henderson 1980         1958      1  158  591  111  179
                              1982         1958      1  149  536  119  143
                              1983         1958      1  145  513  105  150
lathaar01 Arlie     Latham    1887         1860      1  136  627  163  198
                              1888         1860      1  133  570  119  151
nicolhu01 Hugh      Nicol     1887         1858      1  125  475  122  102
                              1888         1858      1  135  548  112  131
wardjo01  John      Ward      1887         1860      1  129  545  114  184
willsma01 Maury     Wills     1962         1932      1  165  695  130  208

                                      2B  3B  HR    RBI     SB    CS   BB  \
playerID  nameFirst nameLast  yearID
brocklo01 Lou       Brock     1974    25   7   3   48.0  118.0  33.0   61
brownpe01 Pete      Browning  1887    35  16   4  118.0  103.0   NaN   55
brownto01 Tom       Brown     1891    30  21   5   72.0  106.0   NaN   70
colemvi01 Vince     Coleman   1985    20  10   1   40.0  110.0  25.0   50
                              1986    13   8   0   29.0  107.0  14.0   60
                              1987    14  10   3   43.0  109.0  22.0   70
comisch01 Charlie   Comiskey  1887    22   5   4  103.0  117.0   NaN   27
fogarji01 Jim       Fogarty   1887    26  12   8   50.0  102.0   NaN   82
hamilbi01 Billy     Hamilton  1889    17  12   3   77.0  111.0   NaN   87
                              1890    13   9   2   49.0  102.0   NaN   83
                              1891    23   7   2   60.0  111.0   NaN  102
henderi01 Rickey    Henderson 1980    22   4   9   53.0  100.0  26.0  117
                              1982    24   4  10   51.0  130.0  42.0  116
                              1983    25   7   9   48.0  108.0  19.0  103
lathaar01 Arlie     Latham    1887    35  10   2   83.0  129.0   NaN   45
                              1888    19   5   2   31.0  109.0   NaN   43
nicolhu01 Hugh      Nicol     1887    18   2   1   34.0  138.0   NaN   86
                              1888    10   2   1   35.0  103.0   NaN   67
wardjo01  John      Ward      1887    16   5   1   53.0  111.0   NaN   29
willsma01 Maury     Wills     1962    13  10   6   48.0  104.0  13.0   51

                                         SO   IBB   HBP   SH   SF  GIDP
playerID  nameFirst nameLast  yearID
brocklo01 Lou       Brock     1974     88.0  16.0   2.0  2.0  1.0   8.0
brownpe01 Pete      Browning  1887      NaN   NaN   8.0  NaN  NaN   NaN
brownto01 Tom       Brown     1891     96.0   NaN   4.0  NaN  NaN   NaN
colemvi01 Vince     Coleman   1985    115.0   1.0   0.0  5.0  1.0   3.0
                              1986     98.0   0.0   2.0  3.0  5.0   4.0
                              1987    126.0   0.0   3.0  5.0  1.0   7.0
comisch01 Charlie   Comiskey  1887      NaN   NaN   7.0  NaN  NaN   NaN
fogarji01 Jim       Fogarty   1887     44.0   NaN  10.0  NaN  NaN   NaN
hamilbi01 Billy     Hamilton  1889     41.0   NaN  14.0  NaN  NaN   NaN
                              1890     37.0   NaN   9.0  NaN  NaN   NaN
                              1891     28.0   NaN   7.0  NaN  NaN   NaN
henderi01 Rickey    Henderson 1980     54.0   7.0   5.0  6.0  3.0   6.0
                              1982     94.0   1.0   2.0  0.0  2.0   5.0
                              1983     80.0   8.0   4.0  1.0  1.0  11.0
lathaar01 Arlie     Latham    1887      NaN   NaN   5.0  NaN  NaN   NaN
                              1888      NaN   NaN   8.0  NaN  NaN   NaN
nicolhu01 Hugh      Nicol     1887      NaN   NaN   5.0  NaN  NaN   NaN
                              1888      NaN   NaN   7.0  NaN  NaN   NaN
wardjo01  John      Ward      1887     12.0   NaN   4.0  NaN  NaN   NaN
willsma01 Maury     Wills     1962     57.0   1.0   2.0  7.0  4.0   7.0

#### 7)	How many players in the 1960s have hit more than 200 HRs? (Dataframe)

In [10]:
temp = df[(df['yearID']>=1960) & (df['yearID']<1970)]
temp = temp.groupby(['playerID','nameFirst','nameLast']).sum()
temp = temp[temp['HR']>200]
temp

,,,birthYear,yearID,stint,G,AB,R,Hit,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
playerID,nameFirst,nameLast,,,,,,,,,,,,,,,,,,,,
aaronha01,Hank,Aaron,19340,19645,10,1540,5912,1091,1819,309,45,375,1107.0,204.0,60.0,672,723.0,160.0,12.0,1.0,64.0,146.0
allisbo01,Bob,Allison,19340,19645,10,1333,4355,712,1110,192,44,225,704.0,70.0,40.0,719,916.0,29.0,31.0,20.0,33.0,90.0
bankser01,Ernie,Banks,19310,19645,10,1495,5554,694,1460,243,40,269,925.0,15.0,19.0,410,756.0,127.0,46.0,31.0,61.0,145.0
cashno01,Norm,Cash,19340,19645,10,1442,4819,779,1326,175,33,278,830.0,39.0,25.0,778,770.0,74.0,58.0,10.0,39.0,102.0
cepedor01,Orlando,Cepeda,21307,21611,12,1400,5158,773,1522,268,18,254,896.0,94.0,47.0,391,767.0,105.0,81.0,2.0,50.0,133.0
colavro01,Rocky,Colavito,21263,21611,13,1304,4634,677,1222,194,14,245,786.0,15.0,15.0,676,577.0,44.0,22.0,8.0,44.0,137.0
howarfr01,Frank,Howard,19360,19645,10,1370,4776,654,1315,185,30,288,835.0,5.0,6.0,500,1103.0,74.0,28.0,7.0,31.0,138.0
kalinal01,Al,Kaline,19340,19645,10,1322,4730,811,1399,247,31,210,773.0,73.0,23.0,652,489.0,65.0,25.0,20.0,46.0,122.0
killeha01,Harmon,Killebrew,19360,19645,10,1429,4994,864,1331,183,17,393,1013.0,12.0,8.0,970,1029.0,98.0,35.0,0.0,43.0,133.0
mantlmi01,Mickey,Mantle,17379,17676,9,1155,3624,683,1023,136,18,256,668.0,55.0,13.0,841,811.0,72.0,4.0,2.0,29.0,69.0
marisro01,Roger,Maris,17406,17676,9,1075,3727,609,983,146,26,217,648.0,7.0,2.0,489,516.0,29.0,32.0,7.0,32.0,63.0
matheed01,Eddie,Mathews,19310,19643,11,1214,4191,688,1094,173,30,213,676.0,32.0,23.0,718,809.0,58.0,14.0,10.0,29.0,69.0
mayswi01,Willie,Mays,19310,19645,10,1498,5459,1050,1635,259,53,350,1003.0,126.0,42.0,681,783.0,103.0,22.0,6.0,45.0,131.0
mccovwi01,Willie,McCovey,19380,19645,10,1322,4257,728,1189,168,33,300,821.0,17.0,18.0,650,805.0,115.0,48.0,5.0,40.0,81.0
powelbo01,Boog,Powell,17469,17685,9,1117,3789,513,1005,150,8,202,677.0,12.0,13.0,501,744.0,68.0,15.0,16.0,34.0,86.0
robinfr02,Frank,Robinson,19350,19645,10,1468,5265,1013,1603,309,44,316,1011.0,145.0,55.0,778,749.0,143.0,113.0,0.0,53.0,141.0
santoro01,Ron,Santo,19400,19645,10,1536,5658,816,1592,247,54,253,937.0,27.0,33.0,768,896.0,66.0,27.0,9.0,69.0,163.0
willibi01,Billy,Williams,19380,19645,10,1454,5662,861,1651,263,69,249,853.0,61.0,32.0,556,643.0,87.0,28.0,6.0,44.0,119.0
yastrca01,Carl,Yastrzemski,17451,17685,9,1383,5175,795,1517,318,37,202,767.0,80.0,55.0,751,708.0,73.0,18.0,9.0,25.0,152.0

#### 8)	Who has hit the most HRs in history? (Dataframe)

In [11]:
temp = df.groupby(['playerID','nameFirst','nameLast']).sum()
temp = temp.sort_values(['HR'],ascending=False)
temp[:1]

,,,birthYear,yearID,stint,G,AB,R,Hit,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
playerID,nameFirst,nameLast,,,,,,,,,,,,,,,,,,,,
bondsba01,Barry,Bonds,43208,43923,22,2986,9847,2227,2935,601,77,762,1996.0,514.0,141.0,2558,1539.0,688.0,106.0,4.0,91.0,165.0

#### 9)	Who had the most hits in the 1970s? (Dataframe)

In [12]:
temp = df[(df['yearID']>=1970) & (df['yearID']<1980)]
temp = temp.groupby(['playerID','nameFirst','nameLast']).sum()
temp = temp.sort_values(['Hit'],ascending=False)
temp[:1]

,,,birthYear,yearID,stint,G,AB,R,Hit,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
playerID,nameFirst,nameLast,,,,,,,,,,,,,,,,,,,,
rosepe01,Pete,Rose,19410,19745,10,1604,6523,1068,2045,394,64,79,580.0,105.0,60.0,783,464.0,87.0,50.0,9.0,34.0,111.0

#### 10)	Top 5 highest OBP (on base percentage) with at least 500 PAs in 1977?  (Dataframe)

In [13]:
temp = df[df['yearID']==1977]
temp['PA'] = temp['AB']+temp['BB']+temp['IBB']+temp['SH']+temp['SF']
temp['OBP'] = (temp['Hit']+temp['BB']+temp['IBB']+temp['SH']+temp['SF'])/temp['AB']
temp = temp[temp['PA']>500]
temp = temp.sort_values('OBP',ascending=False)
temp[:5]

c:\users\craig\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\craig\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,playerID,nameFirst,nameLast,birthYear,yearID,stint,teamID,lgID,G,AB,...,CS,BB,SO,IBB,HBP,SH,SF,GIDP,PA,OBP
55273,singlke01,Ken,Singleton,1947,1977,1,BAL,AL,152,536,...,1.0,107,101.0,13.0,2.0,0.0,6.0,15.0,662.0,0.563433
55280,smithre06,Reggie,Smith,1945,1977,1,LAN,NL,148,488,...,5.0,104,76.0,11.0,3.0,1.0,7.0,5.0,611.0,0.559426
55329,tenacge01,Gene,Tenace,1946,1977,1,SDN,NL,147,437,...,3.0,125,119.0,10.0,13.0,2.0,4.0,5.0,578.0,0.556064
54820,hargrmi01,Mike,Hargrove,1949,1977,1,TEX,AL,153,525,...,5.0,103,59.0,7.0,6.0,8.0,6.0,13.0,649.0,0.540952
54603,carewro01,Rod,Carew,1945,1977,1,MIN,AL,155,616,...,13.0,69,55.0,15.0,3.0,1.0,5.0,6.0,706.0,0.534091

#### 11)	Top 8 highest averages in 2013 with at least 300 PAs? (Dataframe)

In [14]:
temp = df[df['yearID'] == 2013]
temp['PA'] = temp['AB']+temp['BB']+temp['IBB']+temp['SH']+temp['SF']
temp = temp[temp['PA'] >= 300]
temp['average'] = temp['Hit']/temp['AB']
temp = temp.sort_values('average', ascending = False)
temp[:8]

c:\users\craig\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,playerID,nameFirst,nameLast,birthYear,yearID,stint,teamID,lgID,G,AB,...,CS,BB,SO,IBB,HBP,SH,SF,GIDP,PA,average
97188,cabremi01,Miguel,Cabrera,1983,2013,1,DET,AL,148,555,...,0.0,90,94.0,19.0,5.0,0.0,2.0,19.0,666.0,0.347748
98062,ramirha01,Hanley,Ramirez,1983,2013,1,LAN,NL,86,304,...,2.0,27,52.0,3.0,3.0,0.0,2.0,5.0,336.0,0.345395
97300,cuddymi01,Michael,Cuddyer,1979,2013,1,COL,NL,130,489,...,3.0,46,100.0,5.0,2.0,0.0,3.0,13.0,543.0,0.331288
97825,mauerjo01,Joe,Mauer,1983,2013,1,MIN,AL,113,445,...,1.0,61,89.0,7.0,0.0,0.0,2.0,7.0,515.0,0.323596
98293,troutmi01,Mike,Trout,1991,2013,1,LAA,AL,157,589,...,7.0,110,136.0,10.0,9.0,0.0,8.0,8.0,717.0,0.322581
97651,johnsch05,Chris,Johnson,1984,2013,1,ATL,NL,142,514,...,0.0,29,116.0,5.0,2.0,0.0,2.0,20.0,550.0,0.321012
97437,freemfr01,Freddie,Freeman,1989,2013,1,ATL,NL,147,551,...,0.0,66,121.0,10.0,7.0,0.0,5.0,10.0,632.0,0.319419
98043,puigya01,Yasiel,Puig,1990,2013,1,LAN,NL,104,382,...,8.0,36,97.0,6.0,11.0,0.0,3.0,6.0,427.0,0.319372

#### 12)	Leaders in hits from 1940 up to and including 1949. (Dataframe) (top 10 sorted by hits)

In [15]:
temp = df[(df['yearID']>=1940) & (df['yearID']<1950)]
temp = temp.groupby(['playerID','nameFirst','nameLast']).sum()
temp = temp.sort_values('Hit',ascending=False)
temp[:10]

,,,birthYear,yearID,stint,G,AB,R,Hit,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
playerID,nameFirst,nameLast,,,,,,,,,,,,,,,,,,,,
boudrlo01,Lou,Boudreau,19170,19445,10,1425,5268,758,1578,339,59,62,692.0,47.0,47.0,706,268.0,NaN,27.0,153.0,NaN,131.0
elliobo01,Bob,Elliott,19160,19445,10,1455,5361,803,1563,291,80,109,903.0,54.0,NaN,728,418.0,NaN,11.0,56.0,NaN,135.0
walkedi02,Dixie,Walker,19100,19445,10,1363,4856,704,1512,291,56,68,759.0,44.0,NaN,597,204.0,NaN,13.0,50.0,NaN,70.0
musiast01,Stan,Musial,15360,15560,8,1072,4133,815,1432,302,108,146,706.0,44.0,NaN,565,199.0,NaN,21.0,28.0,NaN,82.0
doerrbo01,Bobby,Doerr,17262,17500,9,1283,4924,764,1407,272,66,164,887.0,41.0,35.0,570,437.0,NaN,7.0,67.0,NaN,134.0
holmeto01,Tommy,Holmes,15336,15564,8,1157,4605,651,1402,269,46,79,524.0,40.0,NaN,440,106.0,NaN,20.0,65.0,NaN,85.0
applilu01,Luke,Appling,17163,17501,9,1188,4417,613,1376,207,41,22,488.0,91.0,52.0,666,254.0,NaN,7.0,30.0,NaN,111.0
nichobi01,Bill,Nicholson,19140,19445,10,1389,4936,743,1328,241,51,211,835.0,27.0,NaN,721,708.0,NaN,48.0,16.0,NaN,55.0
marioma01,Marty,Marion,19160,19445,10,1396,4941,550,1310,251,35,30,565.0,34.0,NaN,407,465.0,NaN,13.0,143.0,NaN,104.0
cavarph01,Phil,Cavarretta,19160,19445,10,1217,4326,664,1304,241,70,51,598.0,34.0,NaN,604,355.0,NaN,21.0,62.0,NaN,63.0

#### 13)	Who led MLB(entire data set) with the most hits the most times?  And how many times?  (Dataframe, Number)

In [16]:
temp = df.groupby(['yearID'])['Hit'].max()
years = df['yearID'].unique()
name = []
for i in years:
    name.append(df[(df['yearID']==i) & (df['Hit'] == temp[i])][['playerID','nameFirst','nameLast']])
result = pd.concat(name)
gpresult = result.groupby(['nameFirst','nameLast']).count()
mosthit = gpresult['playerID'].max()
gpresult[gpresult['playerID']==mosthit]

                    playerID
nameFirst nameLast
Ichiro    Suzuki           7
Pete      Rose             7
Ty        Cobb             7

#### 14)	 Which players have played the most games for their careers? Top 5, descending by games played presented as a dataframe

In [17]:
temp = df.groupby(['playerID','nameFirst','nameLast']).sum()
temp.sort_values('G',ascending=False)[:5]

,,,birthYear,yearID,stint,G,AB,R,Hit,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
playerID,nameFirst,nameLast,,,,,,,,,,,,,,,,,,,,
rosepe01,Pete,Rose,48525,49372,26,3562,14053,2165,4256,746,135,160,1314.0,198.0,149.0,1566,1143.0,167.0,107.0,56.0,79.0,247.0
yastrca01,Carl,Yastrzemski,44597,45356,23,3308,11988,1816,3419,646,59,452,1844.0,168.0,116.0,1845,1393.0,190.0,40.0,13.0,105.0,323.0
aaronha01,Hank,Aaron,44482,45195,23,3298,12364,2174,3771,624,98,755,2297.0,240.0,73.0,1402,1383.0,293.0,32.0,21.0,121.0,328.0
henderi01,Rickey,Henderson,56782,57754,33,3081,10961,2295,3055,510,66,297,1115.0,1406.0,335.0,2190,1694.0,61.0,98.0,30.0,67.0,172.0
cobbty01,Ty,Cobb,45264,45996,24,3035,11434,2246,4189,724,295,117,1937.0,892.0,178.0,1249,357.0,NaN,94.0,295.0,NaN,NaN

#### 15)	 How many players have had more than 3000 hits for their careers while also hitting 500 or more HRs? Just a number is okay here

In [18]:
temp = df.groupby(['playerID','nameFirst','nameLast']).sum()
temp = temp[(temp['Hit']>3000) & (temp['HR']>=500)]
temp.shape[0]

5

#### 16)	 How many HRs were hit during the entire 1988 season? Just a number is okay here

In [19]:
temp = df[df['yearID']==1988]
temp['HR'].sum()

3180

#### 17)	 Please filter out and show me the top 3 average seasons by Wade Boggs during his career in seasons in which he had at least 500 ABs. I would like a dataframe sorted by average

In [20]:
temp = df[(df['nameFirst']=='Wade') & (df['nameLast']=='Boggs')]
temp = temp.groupby(['yearID','nameFirst','nameLast']).sum()     # Important
temp = temp[temp['AB']>=500]
temp['average'] = temp['Hit']/temp['AB']
temp.sort_values(['average'],ascending=False)[:3]

,,,birthYear,stint,G,AB,R,Hit,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,average
yearID,nameFirst,nameLast,,,,,,,,,,,,,,,,,,,,
1985,Wade,Boggs,1958,1,161,653,107,240,42,3,8,78.0,2.0,1.0,96,61.0,5.0,4.0,3.0,2.0,20.0,0.367534
1988,Wade,Boggs,1958,1,155,584,128,214,45,6,5,58.0,2.0,3.0,125,34.0,18.0,3.0,0.0,7.0,23.0,0.366438
1987,Wade,Boggs,1958,1,147,551,108,200,40,6,24,89.0,1.0,3.0,105,48.0,19.0,2.0,1.0,8.0,13.0,0.362976

#### 18)	 Please filter out the top OBPs for the 1995 season with at least 400 PAs, sorted by OBP. I would like a dataframe for this

In [21]:
temp = df[df['yearID']==1995]
temp = temp.groupby(['playerID','nameFirst','nameLast']).sum()
temp['PA'] = temp['AB']+temp['BB']+temp['IBB']+temp['SH']+temp['SF']
temp['OBP'] = (temp['Hit']+temp['BB']+temp['IBB']+temp['SH']+temp['SF'])/temp['AB']
temp = temp[temp['PA']>=400]
temp.sort_values('OBP',ascending=False)[:10]

,,,birthYear,yearID,stint,G,AB,R,Hit,2B,3B,HR,...,CS,BB,SO,IBB,HBP,SH,SF,GIDP,PA,OBP
playerID,nameFirst,nameLast,,,,,,,,,,,,,,,,,,,,,
thomafr04,Frank,Thomas,1968,1995,1,145,493,102,152,27,0,40,...,2.0,136,74.0,29.0,6.0,0.0,12.0,14.0,670.0,0.667343
martied01,Edgar,Martinez,1963,1995,1,145,511,121,182,52,0,29,...,3.0,116,87.0,19.0,8.0,0.0,4.0,11.0,650.0,0.628180
mcgwima01,Mark,McGwire,1963,1995,1,104,317,75,87,13,0,39,...,1.0,88,77.0,5.0,11.0,0.0,6.0,9.0,416.0,0.586751
bondsba01,Barry,Bonds,1964,1995,1,144,506,109,149,30,7,33,...,10.0,120,83.0,22.0,5.0,0.0,4.0,12.0,652.0,0.583004
davisch01,Chili,Davis,1960,1995,1,119,424,81,135,23,0,20,...,3.0,89,79.0,12.0,0.0,0.0,9.0,12.0,534.0,0.577830
magadda01,Dave,Magadan,1962,1995,1,127,348,44,109,24,0,2,...,1.0,71,56.0,9.0,0.0,1.0,2.0,9.0,431.0,0.551724
thomeji01,Jim,Thome,1970,1995,1,137,452,92,142,29,3,25,...,3.0,97,113.0,3.0,5.0,0.0,3.0,8.0,555.0,0.542035
baineha01,Harold,Baines,1959,1995,1,127,385,60,115,19,1,24,...,2.0,70,45.0,13.0,0.0,0.0,4.0,17.0,472.0,0.524675
weisswa01,Walt,Weiss,1963,1995,1,137,427,65,111,17,3,1,...,3.0,98,57.0,8.0,5.0,6.0,1.0,7.0,540.0,0.524590
boggswa01,Wade,Boggs,1958,1995,1,126,460,76,149,22,4,5,...,1.0,74,50.0,5.0,0.0,0.0,7.0,13.0,546.0,0.510870

#### 19)	 Who had the most 3Bs (in total) in 1922, 1925, 1926, and 1928? I would like a dataframe with just the leader

In [22]:
temp = df[(df['yearID']==1922) | (df['yearID']==1925) | (df['yearID']==1926) | (df['yearID']==1928)]
temp = temp.groupby(['playerID','nameFirst','nameLast']).sum()
temp.sort_values('3B',ascending=False)[:1]

,,,birthYear,yearID,stint,G,AB,R,Hit,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
playerID,nameFirst,nameLast,,,,,,,,,,,,,,,,,,,,
walkecu01,Curt,Walker,7584,7701,4,571,2088,335,652,97,59,30,311.0,47.0,15.0,222,122.0,NaN,5.0,81.0,NaN,NaN

#### 20)	 How many players have hit 30 or more HRs in season while also stealing (SB) 30 more or bases? A number is okay here

In [23]:
temp = df.groupby(['yearID','playerID']).sum()
temp = temp[(temp['HR']>=30) & (temp['SB']>=30)]
temp = temp.reset_index('playerID')
len(temp['playerID'].unique())

38

#### 21)	 Who had the highest OBP is 1986 with at least 400 PAs? (Dataframe)

In [24]:
temp = df[df['yearID']==1986]
temp['OBP'] = (temp['Hit']+temp['BB']+temp['IBB']+temp['SH']+temp['SF'])/temp['AB']
temp['PA'] = temp['AB']+temp['BB']+temp['IBB']+temp['SH']+temp['SF']
temp = temp[temp['PA']>=400]
temp.sort_values('OBP',ascending=False)[:1]

c:\users\craig\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\craig\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,playerID,nameFirst,nameLast,birthYear,yearID,stint,teamID,lgID,G,AB,...,CS,BB,SO,IBB,HBP,SH,SF,GIDP,OBP,PA
63320,boggswa01,Wade,Boggs,1958,1986,1,BOS,AL,149,580,...,4.0,105,44.0,14.0,0.0,4.0,4.0,11.0,0.575862,707.0

#### 22)	 Same question but for 1997 and only in the NL (check league ID)? (Dataframe)

In [25]:
temp = df[(df['yearID']==1997) & (df['lgID']=='NL')]
temp['OBP'] = (temp['Hit']+temp['BB']+temp['IBB']+temp['SH']+temp['SF'])/temp['AB']
temp['PA'] = temp['AB']+temp['BB']+temp['IBB']+temp['SH']+temp['SF']
temp = temp[temp['PA']>=400]
temp.sort_values('OBP',ascending=False)[:1]

c:\users\craig\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\craig\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,playerID,nameFirst,nameLast,birthYear,yearID,stint,teamID,lgID,G,AB,...,CS,BB,SO,IBB,HBP,SH,SF,GIDP,OBP,PA
75505,bondsba01,Barry,Bonds,1964,1997,1,SFN,NL,159,532,...,8.0,145,87.0,34.0,8.0,0.0,5.0,13.0,0.637218,716.0

#### 23)	 Who had more than the league average HRs in 2012 (filter out all players with less 500 PAs)? (Dataframe)

In [26]:
temp = df[df['yearID']==2012]
temp['PA'] = temp['AB']+temp['BB']+temp['IBB']+temp['SH']+temp['SF']
temp = temp[temp['PA']>=500]
league = temp['lgID'].unique()
league

c:\users\craig\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

array(['AL', 'NL'], dtype=object)

In [27]:
temp1 = temp[temp['lgID']=='NL']
temp2 = temp[temp['lgID']=='AL']
temp1 = temp1.groupby(['playerID','nameFirst','nameLast']).sum()
temp2 = temp1.groupby(['playerID','nameFirst','nameLast']).sum()
AvgHRNL = temp1['HR'].mean()
AvgHRAL = temp2['HR'].mean()
temp1 = temp1[temp1['HR']>AvgHRNL]
temp2 = temp2[temp2['HR']>AvgHRAL]
temp = pd.concat([temp1,temp2])
temp

,,,birthYear,yearID,stint,G,AB,R,Hit,2B,3B,HR,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,PA
playerID,nameFirst,nameLast,,,,,,,,,,,,,,,,,,,,,
alvarpe01,Pedro,Alvarez,1987,2012,1,149,525,64,128,25,1,30,...,1.0,0.0,57,180.0,6.0,1.0,0.0,3.0,10.0,591.0
beltrca01,Carlos,Beltran,1977,2012,1,151,547,83,147,26,1,32,...,13.0,6.0,65,124.0,15.0,2.0,1.0,4.0,9.0,632.0
braunry02,Ryan,Braun,1983,2012,1,154,598,108,191,36,3,41,...,30.0,7.0,63,128.0,15.0,11.0,0.0,5.0,12.0,681.0
bruceja01,Jay,Bruce,1987,2012,1,155,560,89,141,35,5,34,...,9.0,3.0,62,155.0,11.0,4.0,0.0,7.0,5.0,640.0
craigal01,Allen,Craig,1984,2012,1,119,469,76,144,35,0,22,...,2.0,1.0,37,89.0,1.0,1.0,0.0,7.0,15.0,514.0
davisik02,Ike,Davis,1987,2012,1,156,519,66,118,26,0,32,...,0.0,2.0,61,141.0,3.0,1.0,0.0,3.0,10.0,586.0
desmoia01,Ian,Desmond,1985,2012,1,130,513,72,150,33,2,25,...,21.0,6.0,30,113.0,1.0,3.0,0.0,1.0,17.0,545.0
freemfr01,Freddie,Freeman,1989,2012,1,147,540,91,140,33,2,23,...,2.0,0.0,64,129.0,4.0,7.0,0.0,9.0,10.0,617.0
gonzaca01,Carlos,Gonzalez,1985,2012,1,135,518,89,157,31,5,22,...,20.0,5.0,56,115.0,11.0,2.0,0.0,3.0,11.0,588.0
harpebr03,Bryce,Harper,1992,2012,1,139,533,98,144,26,9,22,...,18.0,6.0,56,120.0,0.0,2.0,3.0,3.0,8.0,595.0
hartco01,Corey,Hart,1982,2012,1,149,562,91,152,35,4,30,...,5.0,0.0,44,151.0,5.0,11.0,2.0,3.0,13.0,616.0
headlch01,Chase,Headley,1984,2012,1,161,604,95,173,31,2,31,...,17.0,6.0,86,157.0,2.0,4.0,0.0,5.0,7.0,697.0
heywaja01,Jason,Heyward,1989,2012,1,158,587,93,158,30,6,27,...,21.0,8.0,58,152.0,1.0,2.0,0.0,3.0,4.0,649.0
hillaa01,Aaron,Hill,1982,2012,1,156,609,93,184,44,6,26,...,14.0,5.0,52,86.0,7.0,4.0,1.0,2.0,15.0,671.0
hollima01,Matt,Holliday,1980,2012,1,157,599,95,177,36,2,27,...,4.0,4.0,75,132.0,3.0,9.0,0.0,5.0,16.0,682.0
jonesga02,Garrett,Jones,1981,2012,1,145,475,68,130,28,3,27,...,2.0,0.0,33,103.0,2.0,0.0,0.0,7.0,3.0,517.0
kubelja01,Jason,Kubel,1982,2012,1,141,506,75,128,30,4,30,...,1.0,1.0,57,151.0,7.0,2.0,0.0,6.0,11.0,576.0
larocad01,Adam,LaRoche,1979,2012,1,154,571,76,155,35,1,33,...,1.0,1.0,67,138.0,7.0,0.0,0.0,9.0,10.0,654.0
mccutan01,Andrew,McCutchen,1986,2012,1,157,593,107,194,29,6,31,...,20.0,12.0,70,132.0,13.0,5.0,0.0,5.0,9.0,681.0
molinya01,Yadier,Molina,1982,2012,1,138,505,65,159,28,0,22,...,12.0,3.0,45,55.0,4.0,5.0,3.0,5.0,10.0,562.0
poseybu01,Buster,Posey,1987,2012,1,148,530,78,178,39,1,24,...,1.0,1.0,69,96.0,7.0,2.0,0.0,9.0,19.0,615.0
ramirar01,Aramis,Ramirez,1978,2012,1,149,570,92,171,50,3,27,...,9.0,2.0,44,82.0,3.0,12.0,0.0,4.0,14.0,621.0
rolliji01,Jimmy,Rollins,1978,2012,1,156,632,102,158,33,5,23,...,30.0,5.0,62,96.0,2.0,0.0,2.0,3.0,9.0,701.0
soriaal01,Alfonso,Soriano,1976,2012,1,151,561,68,147,33,2,32,...,6.0,2.0,44,153.0,5.0,7.0,0.0,3.0,18.0,613.0
stantmi03,Giancarlo,Stanton,1989,2012,1,123,449,75,130,30,1,37,...,6.0,2.0,46,143.0,9.0,5.0,0.0,1.0,5.0,505.0
weeksri01,Rickie,Weeks,1982,2012,1,157,588,85,135,29,4,21,...,16.0,3.0,74,169.0,2.0,13.0,0.0,2.0,9.0,666.0
wrighda03,David,Wright,1982,2012,1,156,581,91,178,41,2,21,...,15.0,10.0,81,112.0,16.0,3.0,0.0,5.0,15.0,683.0
zimmery01,Ryan,Zimmerman,1984,2012,1,145,578,93,163,36,1,25,...,5.0,2.0,57,116.0,8.0,2.0,0.0,4.0,20.0,647.0
alvarpe01,Pedro,Alvarez,1987,2012,1,149,525,64,128,25,1,30,...,1.0,0.0,57,180.0,6.0,1.0,0.0,3.0,10.0,591.0
beltrca01,Carlos,Beltran,1977,2012,1,151,547,83,147,26,1,32,...,13.0,6.0,65,124.0,15.0,2.0,1.0,4.0,9.0,632.0
braunry02,Ryan,Braun,1983,2012,1,154,598,108,191,36,3,41,...,30.0,7.0,63,128.0,15.0,11.0,0.0,5.0,12.0,681.0
bruceja01,Jay,Bruce,1987,2012,1,155,560,89,141,35,5,34,...,9.0,3.0,62,155.0,11.0,4.0,0.0,7.0,5.0,640.0
craigal01,Allen,Craig,1984,2012,1,119,469,76,144,35,0,22,...,2.0,1.0,37,89.0,1.0,1.0,0.0,7.0,15.0,514.0
davisik02,Ike,Davis,1987,2012,1,156,519,66,118,26,0,32,...,0.0,2.0,61,141.0,3.0,1.0,0.0,3.0,10.0,586.0
desmoia01,Ian,Desmond,1985,2012,1,130,513,72,150,33,2,25,...,21.0,6.0,30,113.0,1.0,3.0,0.0,1.0,17.0,545.0
freemfr01,Freddie,Freeman,1989,2012,1,147,540,91,140,33,2,23,...,2.0,0.0,64,129.0,4.0,7.0,0.0,9.0,10.0,617.0
gonzaca01,Carlos,Gonzalez,1985,2012,1,135,518,89,157,31,5,22,...,20.0,5.0,56,115.0,11.0,2.0,0.0,3.0,11.0,588.0
harpebr03,Bryce,Harper,1992,2012,1,139,533,98,144,26,9,22,...,18.0,6.0,56,120.0,0.0,2.0,3.0,3.0,8.0,595.0
hartco01,Corey,Hart,1982,2012,1,149,562,91,152,35,4,30,...,5.0,0.0,44,151.0,5.0,11.0,2.0,3.0,13.0,616.0
headlch01,Chase,Headley,1984,2012,1,161,604,95,173,31,2,31,...,17.0,6.0,86,157.0,2.0,4.0,0.0,5.0,7.0,697.0
heywaja01,Jason,Heyward,1989,2012,1,158,587,93,158,30,6,27,...,21.0,8.0,58,152.0,1.0,2.0,0.0,3.0,4.0,649.0
hillaa01,Aaron,Hill,1982,2012,1,156,609,93,184,44,6,26,...,14.0,5.0,52,86.0,7.0,4.0,1.0,2.0,15.0,671.0
hollima01,Matt,Holliday,1980,2012,1,157,599,95,177,36,2,27,...,4.0,4.0,75,132.0,3.0,9.0,0.0,5.0,16.0,682.0
jonesga02,Garrett,Jones,1981,2012,1,145,475,68,130,28,3,27,...,2.0,0.0,33,103.0,2.0,0.0,0.0,7.0,3.0,517.0
kubelja01,Jason,Kubel,1982,2012,1,141,506,75,128,30,4,30,...,1.0,1.0,57,151.0,7.0,2.0,0.0,6.0,11.0,576.0
larocad01,Adam,LaRoche,1979,2012,1,154,571,76,155,35,1,33,...,1.0,1.0,67,138.0,7.0,0.0,0.0,9.0,10.0,654.0
mccutan01,Andrew,McCutchen,1986,2012,1,157,593,107,194,29,6,31,...,20.0,12.0,70,132.0,13.0,5.0,0.0,5.0,9.0,681.0
molinya01,Yadier,Molina,1982,2012,1,138,505,65,159,28,0,22,...,12.0,3.0,45,55.0,4.0,5.0,3.0,5.0,10.0,562.0
poseybu01,Buster,Posey,1987,2012,1,148,530,78,178,39,1,24,...,1.0,1.0,69,96.0,7.0,2.0,0.0,9.0,19.0,615.0
ramirar01,Aramis,Ramirez,1978,2012,1,149,570,92,171,50,3,27,...,9.0,2.0,44,82.0,3.0,12.0,0.0,4.0,14.0,621.0
rolliji01,Jimmy,Rollins,1978,2012,1,156,632,102,158,33,5,23,...,30.0,5.0,62,96.0,2.0,0.0,2.0,3.0,9.0,701.0
soriaal01,Alfonso,Soriano,1976,2012,1,151,561,68,147,33,2,32,...,6.0,2.0,44,153.0,5.0,7.0,0.0,3.0,18.0,613.0
stantmi03,Giancarlo,Stanton,1989,2012,1,123,449,75,130,30,1,37,...,6.0,2.0,46,143.0,9.0,5.0,0.0,1.0,5.0,505.0
weeksri01,Rickie,Weeks,1982,2012,1,157,588,85,135,29,4,21,...,16.0,3.0,74,169.0,2.0,13.0,0.0,2.0,9.0,666.0
wrighda03,David,Wright,1982,2012,1,156,581,91,178,41,2,21,...,15.0,10.0,81,112.0,16.0,3.0,0.0,5.0,15.0,683.0
zimmery01,Ryan,Zimmerman,1984,2012,1,145,578,93,163,36,1,25,...,5.0,2.0,57,116.0,8.0,2.0,0.0,4.0,20.0,647.0

#### 24)	 Who is the youngest player to hit 50 or more HRs in a single season? (Dataframe)

In [28]:
temp = df.groupby(['yearID','playerID','nameFirst','nameLast','birthYear']).sum()
temp = temp.reset_index(['yearID','birthYear'])
temp['age'] = temp['yearID']-temp['birthYear']
temp = temp[temp['HR']>=50]
temp.sort_values('age')[:1]

,,,yearID,birthYear,stint,G,AB,R,Hit,2B,3B,HR,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,age
playerID,nameFirst,nameLast,,,,,,,,,,,,,,,,,,,,,
fieldpr01,Prince,Fielder,2007,1984,1,158,573,109,165,35,2,50,...,2.0,2.0,90,121.0,21.0,14.0,0.0,4.0,9.0,23

#### 25)	 Who are the five youngest players to hit 300 or more HRs for their career? (Dataframe)

In [29]:
def youngest_reachHR(df,hr):
    temp = df.groupby(['playerID']).sum()
    temp = temp[temp['HR'] >= hr]
    temp = temp.reset_index(['playerID'])
    players = temp['playerID']
    
    temp = df.groupby(['playerID','nameFirst','nameLast','birthYear','yearID']).sum()
    temp = temp.reset_index(['playerID','nameFirst','nameLast','birthYear','yearID'])
    
    players = list(players)
    players.sort()
    agelist = []
    for i in players:
        tp = temp[temp['playerID']==i]
        tp = tp.sort_values('yearID')
        HR = 0
        for j in range(tp.shape[0]):
            HR += list(tp['HR'])[j]
            if HR >= hr:
                year = list(tp['yearID'])[j]
                age = year - list(tp['birthYear'])[j]
                agelist.append(age)
                break
        if HR < hr:
            agelist.append(np.nan)
    
    min_age = min(agelist)
    playerReach =[]
    for i in range(len(agelist)):
        if agelist[i] == min_age:
            playerReach.append(i)
    playerID = []
    for i in playerReach:
        playerID.append(players[i])
    return playerID

In [30]:
playerID = youngest_reachHR(df,300)
datas = []
for i in playerID:
    datas.append(df[df['playerID']==i])
temp = pd.concat(datas)
temp = temp.groupby(['playerID','nameFirst','nameLast']).sum()
temp

,,,birthYear,yearID,stint,G,AB,R,Hit,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
playerID,nameFirst,nameLast,,,,,,,,,,,,,,,,,,,,
foxxji01,Jimmie,Foxx,40047,40634,22,2317,8134,1751,2646,458,125,534,1922.0,87.0,72.0,1452,1311.0,NaN,13.0,71.0,NaN,69.0
jonesan01,Andruw,Jones,33609,34068,17,2196,7599,1204,1933,383,36,434,1289.0,152.0,59.0,891,1748.0,69.0,97.0,6.0,71.0,191.0
ottme01,Mel,Ott,41998,42603,22,2730,9456,1859,2876,488,72,511,1860.0,89.0,NaN,1708,896.0,NaN,64.0,109.0,NaN,82.0
pujolal01,Albert,Pujols,31680,32136,16,2426,9138,1670,2825,602,16,591,1817.0,107.0,41.0,1214,1053.0,302.0,100.0,1.0,99.0,336.0
rodrial01,Alex,Rodriguez,43450,44101,22,2784,10566,2021,3115,548,31,696,2086.0,329.0,76.0,1338,2287.0,97.0,176.0,16.0,111.0,261.0